<div class="container">
  <h1 style="text-align: center;">Add Project</h1>
   <form action="/addproject" method="post" class="add-project">
    <input type="text" name="projectname" placeholder="Enter Project Name">
    <input type="text" name="decre" placeholder="Descreption">
    <input type="text" name="author" placeholder="Enter Author">
    <button type="submit">Submit</button>
   </form>

</div>